[submodule "krml"]
	path = krml
	url = https://github.com/kumandra/krml
[submodule "kpallets"]
	path = kpallets
	url = https://github.com/kumandra/kpallets
[submodule "kfarmer"]
	path = kfarmer
	url = https://github.com/kumandra/kumandra-farmer.git
